<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="..\\Logs\\GenerateCSVFile_Error_Logs_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd-HHmm" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="..\\Logs\\GenerateCSVFile_Info_Logs_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd-HHmm" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="ErrorLogFile">
      <level value="All" />
      <appender-ref ref="ErrorLogFileAppender" />
    </logger>
    <logger name="InfoLogFile">
      <level value="All" />
      <appender-ref ref="InfoLogFileAppender" />
    </logger>
  </log4net>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source =100537SQL20;Initial CataLog =test_100537;persist security info=True; Integrated Security=SSPI;Max Pool Size=1024" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--select Path where the generated file should be saved -->
    <add key="FileFolder" value="..\CSVFiles\Offboarding_Onboarding" />
    <!--select Path where the generated file should be saved -->
    <add key="FileName" value="\Csv_{0}.csv" />
    <!--select delimiter(Eg-,|;) -->
    <add key="Delimiter" value="," />
    <!--select OdataQuery or SqlQuery -->
    <add key="Query" value="SqlQuery" />
    <!--Give Special Characters in Character Reference(decimal)Eg: < symbol=&#60; -->
    <add key="SqlQuery" value="
SELECT  SyStudentID,AdEnrollID,SyCampusID,adTermID,adProgramDescrip,SySchoolStatusID,StatusDate FROM AdEnroll WHERE SySchoolStatusID IN (10,11,17,51,67,86) AND StatusDate BETWEEN (Select [Value] from customer.si_Configurations where [Key]='Offboarding/OnboardingLastRunTime') AND '{0}'" />
    <!--Update Successful RunTime in Si_Configuration table-->
    <add key="UpdateSuccessfulRunTimeQuery" value="Update customer.si_Configurations set [Value]='{0}',DateLstMod='{0}' where [Key]='Offboarding/OnboardingLastRunTime'" />
    <!--&$ should be replaced by &amp;&#36;-->
    <add key="OdataQuery" value="https://sisclientweb-test-100537.campusnexus.cloud:443/ds/campusnexus/StudentEnrollmentPeriods?$filter=Student/Id eq 759 or Student/Id eq 91853&amp;$select=Id,GraduationDate&amp;$expand=Student($select=Id),ProgramVersion($select=Name)" />
    <!--<add key="OdataQuery" value="https://sisclientweb-test-100537.campusnexus.cloud:443/ds/campusnexus/StudentEnrollmentPeriods?&#36;select=Id,GraduationDate&amp;&#36;expand=ProgramVersion($select=Name),Student($select=Id)" />-->
    <add key="CNSApiKey" value="cIoG9yZ8TjgXYEoMxPvpLQmC6eziKoxj" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>